@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-btn {
  padding: inherit !important;
}

.center-modal-button .ant-modal-confirm-btns {
  @apply flex justify-center;
  /* padding: 30px; */
}
.active {
  color: #222831;
}

.slider-container {
  width: 300px; /* Adjust width as needed */
}

.custom-slider .ant-slider-track {
  background-color: #0a5f59; /* Change track color */
  height: 10px; /* Increase height */
}

.custom-slider .ant-slider-handle {
  background: linear-gradient(135deg, #6dd5ed, #2193b0);
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: -5px;
  transition:  0.3s;
}

.custom-slider .ant-slider-handle:hover {
  background: linear-gradient(135deg, #90ee90, #32cd32);
}

.custom-slider .ant-slider-rail {
  height: 10px;
}

.custom-slider .ant-slider-mark-text {
  color: #0a5f59;
}

.site-form-item-icon {
  color: white;
  padding: 1rem;
  border-radius: 5%;
  background-color: #0a5f59;
}

.data-row:nth-child(even) {
  background-color: white;
}

.data-row:nth-child(odd) {
  background-color: #fbf9f7;
}
